* body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    height: 100vh; 
}
#navbar img {
    max-width: 70px;
    height: auto;
    margin: 5px 10px;
}


#navlist  {
    
    display: flex;
    gap: 30px;
    list-style: none;
    cursor: pointer;
    a {
        text-decoration: none;
    }
}


